<h2>Lobby</h2>
<div class="user-info">
    <p>Logged in as: <strong><%= user.email %></strong></p>
    <img src="<%= user.gravatar_url %>" alt="User Avatar" style="border-radius: 50%; width: 100px;">
</div>
<p>Welcome to the protected area!</p>